fastapi==0.115.12
uvicorn==0.34.3
sqlalchemy==2.0.41
pydantic==2.11.5
python-multipart==0.0.20
email-validator==2.2.0
passlib[bcrypt]==1.7.4

# Demucs and its core dependencies:
demucs==4.0.1
torch==2.2.2
torchaudio==2.2.2
soundfile==0.13.1
itsdangerous==2.2.0